<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }} "></script>
        <!-- Load c3.css -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/c3.min.css') }}">

        <!-- Load d3.js and c3.js -->
        <script src="{{ url_for('static', filename='js/vendor/d3.v3.min.js') }}"  charset="utf-8"></script>
        <script src="{{ url_for('static', filename='js/vendor/c3.min.js') }}"  charset="utf-8"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-social.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">


    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">{% block title %}<strong>Stock Tracker </strong>&nbsp;&nbsp; <i class="fa fa-line-chart" aria-hidden="true"></i>
                {% endblock %}</h1>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
                        <!--
                        <li><a href="{{ url_for('quote') }}?imnt=JPM">Quote</a></li>
                        -->
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">

                {% block content %}
                {% endblock %}

                {% block sidebar %}
                    <aside>
                        <h3>aside</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
                    </aside>
                {% endblock %}



            </div> <!-- #main -->
        </div> <!-- #main-container -->

        {% block footer %}
            <div class="footer-container footer">
                <footer class="wrapper">
                    <div class="col-md-3 col-sm-5">
                        <address>
                            <strong>Our Address</strong><br>
                            3rd Floor, Alhambra House<br>
                            Glasgow<br>
                            <i class="fa fa-phone"></i>: +4412345678<br>
                            <i class="fa fa-envelope"></i>:
                            <a href="mailto:contactus@stocktracker.net">contactus@stocktracker.net</a>
                        </address>
                    </div>
                    <div class="col-md-6 col-sm-3">
                        <div class="nav navbar-nav">
                            <p style="padding-top: 49px"></p>
                            <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i
                                    class="fa fa-google-plus"></i></a>
                            <a class="btn btn-social-icon btn-facebook"
                               href="http://www.facebook.com/profile.php?id="><i
                                    class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
                                    class="fa fa-linkedin"></i></a>
                            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
                                    class="fa fa-twitter"></i></a>
                            <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
                </footer>
            </div>
        {% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
