<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- import plugin script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
</head>
<body>
<canvas id="chart" width="400px" height="400px"></canvas>
<h4 class="text-center">Pie-share of each company</h4>
<script>
    var pieData = {
                labels: {{ data['labels'] | safe}},
                datasets: [{
                    data: {{ data['weight'] | safe}},
                    backgroundColor: {{ data['backgroundColor'] | safe}}
                }]
    };

    var mychart = document.getElementById("chart").getContext("2d");

    var chart1 = new Chart(mychart, {
        type: "pie",
        data: pieData,
        options: {
            legend: {
                display: true
            },
            tooltips: {
                enabled: false
            }
        }
    });

</script>
</body>
</html>