{% extends "base.html" %}

{% block content %}
    <div class="container home-body">
        <div class="row">
            <div class="col-md-4 col-xs-offset-1" >
                <p style="padding-top: 15%"></p>
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-custom"> <strong>Login</strong>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" action="portfolio" method="post">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="inputEmail3" placeholder="Email" required="" type="email" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="inputPassword3" placeholder="Password" required="" type="password" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label class="">
                                            <input class="" type="checkbox">Remember me</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group last">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                                    <button type="reset" class="btn btn-default btn-sm">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer panel-heading-custom">Not Registered? <a href="#" class="">Register here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p style="padding-top: 5%"></p>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
{% endblock %}