{% extends "base.html" %}


{% block content %}
    {% if user_name != '' %}
        <div class="container">
            <div class="row">
                <h1><strong>Welcome {{ user_name }}</strong></h1>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <h3>Your current holdings are</h3>

                        <p style="padding: 10px"></p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                            <tr class="info">
                                <th>Script Code</th>
                                <th>Company Name</th>
                                <th>Quantity</th>
                                <th>Bought At</th>
                                <th>Current Price</th>
                                <th>Amount Invested</th>
                                <th>Current Total Value</th>
                                <th>Profit/Loss</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for stock in user_portfolio.keys() %}
                                <tr>
                                    <td><a href="/quote?imnt={{ stock }}">{{ stock }}</a></td>
                                    <td>{{ user_portfolio[stock][3] }}</td>
                                    <td>{{ user_portfolio[stock][0] }}</td>
                                    <td>{{ user_portfolio[stock][1] }}</td>
                                    <td>{{ user_portfolio[stock][2] }}</td>
                                    <td>{{ user_portfolio[stock][4] }}</td>
                                    <td>{{ user_portfolio[stock][5] }}</td>
                                    <td>{{ user_portfolio[stock][6] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-info">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
                <div class="col-md-4">
                    {% include 'chart.html' %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <p style="padding: 5%"></p>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-offset-1">
                    <h3>Looks like you have not logged into your account.</h3>

                    <h3>Please <a href="/index">Sign in</a> to see your portfolio.</h3>
                </div>
                <div class="col-md-4">
                    <img src="../static/images/error.jpg" style="height:45%;width: 45%"></i>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block sidebar %}
{% endblock %}

{% block footer %}
{% endblock %}

