{% extends "base.html" %}

{% block content %}
    <article style="width: 100%">
        <header>
            <h1>{{stock_name}}</h1>
        </header>
        <section>
            <div id="chart_div" style="width: 100%; height: 500px;"></div>
            <script src="{{ url_for('static', filename='js/quote.js') }}"></script>
            <script src="{{ url_for('static', filename='js/vendor/papaparse.min.js') }}"></script>
            <script type="text/javascript">
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", "/quote_with_outlier_csv?imnt={{stock_name}}&str_start_date={{str_start_date}}&str_end_date={{str_end_date}}", false);
                xhttp.send();
                var csv = Papa.parse(xhttp.responseText);
                // needed in date, low, open, close, high, ndx, label, message
                // input: open, close, high, low
                var full_data = []
                var label = 1
                for(var row_i=1; row_i < csv.data.length-1; row_i++) {
                    var oneRow = csv.data[row_i];
                    var outputRow = [];
                    outputRow.push(new Date(oneRow[0]));
                    outputRow.push(parseFloat(oneRow[4]));
                    outputRow.push(parseFloat(oneRow[1]));
                    outputRow.push(parseFloat(oneRow[2]));
                    outputRow.push(parseFloat(oneRow[3]));
                    outputRow.push(parseFloat(oneRow[7]));
                    var message = oneRow[22];
                    if(message == "") {
                        outputRow.push(null);
                        outputRow.push(null);
                    } else {
                        outputRow.push("" + label);
                        label++;
                        outputRow.push(message);
                    }
                    full_data.push(outputRow);
                }
                debugger;
                drawChart(full_data);

            </script>
        </section>
    </article>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
{% endblock %}
