.home-body {
    background: url('../images/home-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    opacity: 0.9;
    margin-top:30px;
}
.form-group.last {
    margin-bottom:0px;
}



.panel-default > .panel-heading-custom {
    background: #1A237E;
    color: #fff;
}


.footer {
    left:0px;
    bottom:0px;
    width: 100%;
}

